@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
  --fondoGeneral: #121212;
  --colorPrimario: #F8F8F8;
  --bordeOscuro: #333333;
  --temaPrimario: #03DAC6;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Inter";
  font-weight: bold;
}

p, a, button{
  font-family: sans-serif;
}

@layer components{
  *{
    @apply text-sm font-bold
  }
  .negrita {
    @apply text-(--colorPrimario) font-normal
  }
  .animacion {
    @apply transition-all duration-75 ease-in
  }
}