@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('./assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
  --fondoGeneral: #121212;
  --colorPrimario: #e7e7e7;
  --textoSecundario: #000;
  --bordeOscuro: #333333;
  --temaPrimario: #30bdaf;
  --textoSecundario: #c2c2c2;


  --fondoBotonPrimario: #195e57;
  --bordeBotonPrimario: #13827c;
  --bordeTextoPrimario: #e6f2f1;

  --fondoHoverPrimario: #24615b;
  --bordeHoverPrimario: #1f837e;


  --fondoBotonSecundario: #1d1d1d;
  --bordeBotonSecundario: #333333;
  --bordeTextoSecundario: #e6f2f1;

  --fondoHoverSecundario: #222222;
  --bordeHoverSecundario: #3a3a3a;


  --fondoCard: #0f0f0f;
  --bordeCard: #3f3f3f;


  --fondoImagen: #1a1a1a;

  --xd: #3b3b3b;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Inter";
  font-weight: bold;
  color: var(--colorPrimario)
}

p, a, button{
  font-family: sans-serif;
}

@layer components{
  *{
    @apply text-sm font-bold text-(--colorPrimario)
  }
  .negrita {
    @apply text-(--colorPrimario) font-normal
  }
  .animacion {
    @apply transition-all duration-100 ease-in
  }

  .boton-primario {
    @apply bg-(--fondoBotonPrimario) px-4 py-1.5 rounded-lg border border-(--bordeBotonPrimario) text-(--bordeTextoPrimario) cursor-pointer font-normal hover:bg-(--fondoHoverPrimario) hover:border-(--bordeHoverPrimario) transition-all duration-75 ease-in
  }

  .boton-secundario {
    @apply bg-(--fondoBotonSecundario) px-4 py-1.5 rounded-lg border border-(--bordeBotonSecundario) text-(--bordeTextoSecundario) cursor-pointer font-normal hover:bg-(--fondoHoverSecundario) hover:border-(--bordeHoverSecundario) transition-all duration-75 ease-in
  }

  .card {
    @apply bg-(--fondoCard) border border-(--bordeCard) rounded-md p-5
  }

  /* Se trabjara conjunto con el boton primario */
  .instagram {
    @apply bg-[#c13584]! text-[#f2f2f2]! border-[#b47197]!
  }

  .tiktok {
    @apply bg-[#0e0e0e]! text-[#f2f2f2]! border-[#3b3b3b] hover:border-[#3b3b3b]
  }
}